* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: white;
    min-height: 100vh;
    overflow-x: hidden;
}
.multiparallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow:hidden;
}
#text {
    position: absolute;
    font-size: 5em;
    color:white;
}
.multiparallax img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    pointer-events: none;
}
.down{
    position: relative;
    height:100vh;
    overflow: hidden;
}
.down img{
    width:100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
#nature{
    height:100%;
    display:flex;
    object-fit: cover;
    position: relative;
    z-index: 1;
}
#grass{
    z-index: 2;
    height:350px;
    bottom:0;
    position:absolute;
}
#boat{
    z-index: 3;
    position: absolute;
    bottom:350px;
    top:0;
    height:1000px;
}