/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}
.center {
  height: 100vh;
  width:100%;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
}

.center h1 {
  font-size: 100;
  color: black;
  text-align: center;
}
h1,h2{
  text-align: center;
  color:blue;
  margin-bottom: 20px;

}

/* Parallax background */
.parallax{
  height:100vh;
  background-image: url('/src/assets/backgroung1.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}
.parallax2{
  height:100vh;
  background-image: url('/src/assets/background.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}
.parallax3{
  background-image: url('/src/assets/background5.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}
.parallax4{
  background-image: url('/src/assets/background6.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}
.parallax5{
  background-image: url('/src/assets/bg.jpg');
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display:flex;
}

/* Content sections */
.content {
  padding: 60px;
  text-align: center;
  background-color: white;
}
.center-text{
  text-align: center;
  font-size: 50px;
  background-attachment: fixed;
  text-align: center;
  color:blueviolet;
  background-color:lightgrey;
}
